@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';
@import '../../scss/fonts.scss';

.header {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;

  &Logo {
    width: 100px;
  }

  &NavAuthSection {
    display: flex;
    gap: 10px;
  }

  &NavBar {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    &Link {
      @include font($mainFontFamily, 700, 1rem, 1);
      font-size: 1.5rem;
      font-weight: 500;
      color: $headersTextColor;
      transition: color 0.3s;
      text-transform: uppercase;

      &:hover {
        color: $secondaryTextColor;
      }
    }
  }

  &AuthButton {
    @include font($mainFontFamily, 700, 1rem, 1);
    align-self: start;
    font-size: 1.5rem;
    font-weight: 500;
    color: $mainThemeSecondColor;
    transition: color 0.3s;
    text-transform: uppercase;
  }
}
